<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>
    <header>

        <h1>Ghostbusters online hotline</h1>

        <nav class="user-login-header">
            <div class="user-link">
                {% if session.username %}
                    <p id="logged-user">{{ session.username }}</p>
                {% endif %}
            </div>
            <ul>
                {% if session.username %}
                    <li><a href="/users">Users</a></li>
                    <li><a href="{{ url_for('user_log_out') }}">Log out</a></li>


                {% elif session.username == 'Admin' %}
{#                    <li><a href="{{ url_for('admin_page') }}">Admin</a></li>#}
                {% else %}
                    <li><a href="{{ url_for('user_registration') }}">Sign up</a></li>
                    <li><a href="{{ url_for('user_log_in') }}">Log in</a></li>
                {% endif %}

            </ul>
        </nav>

        <img src="/static/images/gblogo.png" alt="Can not load image">

    </header>
    <section>
        {% block content %}{% endblock %}
    </section>
{% include 'footer.html' %}
</body>

</html>

