{% extends "index.html" %}

{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <section class="flash-messages">
                {% for category, message in messages %}
                    <span class="flash-{{ category }}">{{ message }}</span>
                {% endfor %}
            </section>
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('user_log_in') }}" method="POST">
        <div class="form-input">
            <label for="username-input">Username</label>
            <input type="text" id="username-input" name="username">
        </div>

        <div class="form-input">
            <label for="email-input">Email</label>
            <input type="text" id="email-input" name="email">
        </div>

        <div class="form-input">
            <label for="password-input">Password</label>
            <input type="password" id="password-input" name="password">
        </div>

        <button type="submit">Sign up</button>
    </form>
{% endblock %}