{% extends "index.html" %}

{% block content %}
<nav id="edit-question-nav" class="navigation">
    {% if session.username %}
        {% if question.title %}
        <a id="edit-question-button" href="/question/{{ question.id }}/edit">Edit question</a>
        {% endif %}
        <form id="delete-form" action="/question/{{ question.id }}" method="POST">
            <button id="delete-question-button" type="submit">Delete question</button>
        </form>
    {% endif %}
</nav>
<section id="question">
    <section id="question-body">
        <section>
            <h3>{{ question.title if question.title }}</h3>
            <p>{{ question.message if question.message }}</p>
        </section>
        {% if question.image %}
        <img src="/static/images/{{ question.image }}">
        {% endif %}
    </section>
    <footer id="question-footer">
        {% for tag in tag_list %}
            <span class="tags">{{ tag.name }} <a class="delete-tag" href="/question/{{ question.id }}/tag/{{ tag.id }}/delete">x</a></span>
        {% endfor %}
        {% if session.username %}
            <p><a class="new-tag" href="/question/{{ question.id }}/new-tag">Add tag</a></p>
        {% endif %}
    </footer>
    <section>
        <p id="comments-text" >Comments for question:</p>
        <ul>
            {% if comment is not none %}
            {% for comment in comments %}
            {% if comment.question_id == question.id%}
                <li class="comment">
                {% if session.username %}
                    <a class="delete-comment" href="/comments/{{ comment.id }}/delete">x</a>
                {% endif %}
                <a id="edit-comment" href="/comment/{{ comment.id }}/edit"> {{ comment.message }} - Edited {{ comment.edited_count }} times. </a>
                </li>
            {% endif %}
            {% endfor %}
            {% endif %}
        </ul>
    </section>

</section>

<section id="answers">
    {% if session.username %}
        <a id="add-new-comment" href="/question/{{ question.id }}/new-comment">Add new comment</a>
        <a id="add-answer-button" href="/question/{{ question.id }}/add-answer">Add new answer</a>
    {% endif %}
    <ul>
        {% if answer is not none %}
        {% for answer in answers %}
        <li>
            <section style="display: flex">
            {% if answer.image %}
                <p class="answer-image"><img src="/static/images/{{ answer.image }}"></p>
            {% endif %}
                <section class="answer-buttons">
                    {% if session.username %}
                        <a class="edit-answer-button" href="/answer/{{ answer.id }}/edit">Edit answer</a>
                        <a class="add-comment-to-answer" href="/answer/{{ answer.id }}/new-comment"> {{ answer.message }} </a>
                    {% else %}
                        <p>{{ answer.message }}</p>
                    {% endif %}
                </section>
            </section>
            <section>
            {% if comments is not none %}
                {% for comment in comments %}
                {% if comment.answer_id == answer.id %}
                <ul>

                <li class="edit-answer-comment">
                <a class="delete-comment" href="/comments/{{ comment.id }}/delete">x</a>
                <a id="edit-comment" href="/comment/{{ comment.id }}/edit"> {{ comment.message }} - Edited {{ comment.edited_count }} times.</a>
                </li>




                </ul>
                {% endif %}
            {% endfor %}
            {% endif %}
            </section>
        </li>
        {% endfor %}
        {% endif %}
    </ul>
</section>


{% endblock %}