{% extends "index.html" %}

{% block content %}
    <nav id="edit-question-nav" class="navigation">
        {% if session.username %}
            {% if question.title %}
                <a id="edit-question-button" href="/question/{{ question.id }}/edit">Edit question</a>
            {% endif %}
            <form id="delete-form" action="/question/{{ question.id }}" method="POST">
                <button id="delete-question-button" type="submit">Delete question</button>
            </form>
        {% endif %}
    </nav>

    <section id="question">
        <section id="question-body">
            <section>
                <h3>{{ question.title if question.title }}</h3>
                <p>{{ question.message if question.message }}</p>
            </section>

            {% if question.image %}
                <img src="/static/images/{{ question.image }}">
            {% endif %}
        </section>

        <footer id="question-footer">
            <section id="tag-section">
                <p><a id="all-tags-button" href="/tags">All tags</a></p>
                {% if session.username %}
                    <p><a class="new-tag" href="/question/{{ question.id }}/new-tag">Add tag</a></p>
                {% endif %}
                {% for tag in tag_list %}
                    <span class="tags">{{ tag.name }} <a class="delete-tag" href="/question/{{ question.id }}/tag/{{ tag.id }}/delete">x</a></span>
                {% endfor %}
            </section>

            {% if session.username %}
                <section class="vote-buttons">
                    <a href="/question/{{ question.id}}/vote-down">-</a> <p>{{ question.vote_number }}</p> <a href="/question/{{ question.id}}/vote-up">+</a>
                </section>
            {% endif %}
        </footer>

        <section id="question-comments">
            <ul>
                {% if comment is not none %}
                    {% for comment in comments %}
                        {% if comment.question_id == question.id%}
                            <li class="comment">
                                {% if session.username %}
                                    <a class="delete-comment" href="/comments/{{ comment.id }}/delete">x</a>
                                    <a id="edit-comment" href="/comment/{{ comment.id }}/edit"> {{ comment.message }} - Edited {{ comment.edited_count }} times. </a>
                                {% else %}
                                    <p>{{ comment.message }}</p>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </ul>
        </section>
    </section>

    <section id="answers">
        {% if session.username %}
            <a id="add-new-comment" href="/question/{{ question.id }}/new-comment">Add new comment</a>
            <a id="add-answer-button" href="/question/{{ question.id }}/add-answer">Add new answer</a>
        {% endif %}
        <ul>
            {% if answer is not none %}
                {% for answer in answers %}
                    <li>
                        <section style="display: flex">
                            {% if answer.image %}
                                <p class="answer-image"><img src="/static/images/{{ answer.image }}"></p>
                            {% endif %}

                            <section class="answer-buttons">
                                {% if session.username %}
                                    <section class="answer-nav-buttons">
                                        <a class="edit-answer-button" href="/answer/{{ answer.id }}/edit">Edit answer</a>
                                        <a class="delete-answer-button" href="/answer/{{ answer.id }}/delete">x</a>
                                    </section>
                                    <a class="add-comment-to-answer" href="/answer/{{ answer.id }}/new-comment"> {{ answer.message }} </a>
                                {% else %}
                                    <p>{{ answer.message }}</p>
                                {% endif %}
                            </section>
                        </section>

                        <section class="vote-accept-buttons">
                            {% if answer_owner %}
                                {% if answer.accepted_state %}
                                    <form action="/answer/{{ answer.id }}/edit" method="post">
                                        <button name="accepted_state" value=False>Unaccept answer</button>
                                    </form>
                                {% else %}
                                    <form action="/answer/{{ answer.id }}/edit" method="post">
                                        <button name="accepted_state" value=True>Accept answer</button>
                                    </form>
                                {% endif %}
                            {% endif %}

                            {% if answer.accepted_state %}
                                <span class="accepted-answer" style="width: 10rem">Accepted answer</span>
                            {% endif %}

                            {% if session.username %}
                                <section class="vote-buttons">
                                    <a href="/question/{{ question.id}}/vote-down">-</a>
                                    <p>{{ answer.vote_number }}</p>
                                    <a href="/question/{{ question.id}}/vote-up">+</a>
                                </section>
                            {% endif %}
                        </section>

                        <section>
                            {% if comments is not none %}
                                {% for comment in comments %}
                                    {% if comment.answer_id == answer.id %}
                                        <ul>
                                            <li class="edit-answer-comment">
                                                {% if session.username %}
                                                    <a class="delete-comment" href="/comments/{{ comment.id }}/delete">x</a>
                                                    <a id="edit-comment" href="/comment/{{ comment.id }}/edit"> {{ comment.message }} - Edited {{ comment.edited_count }} times.</a>
                                                {% else %}
                                                    <p>{{ comment.message }}</p>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </section>
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </section>
{% endblock %}