{% extends "index.html" %}

{% block content %}
    <ul>
        <p>Results in questions:</p>
            {% for question in questions %}
            <li><a href="/question/{{ question[0] }}">{{ question[1]|safe }}</a></li>
            {% endfor %}
        <p>Results in answers:</p>
            {% for question in answers_match %}
                <li><a href="/question/{{ question[0] }}">{{ question[1] }}</a>
                    <p class="answer-result">{{ question[2]|safe }}</p></li>
            {% endfor %}
    </ul>



{% endblock %}