{% extends "index.html" %}

{% block content %}
<section>
        <table>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Registration date</th>
                <th>Number of asked questions</th>
                <th>Number of answers</th>
                <th>Number of comments</th>
                <th>Reputation</th>
            </tr>
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.date }}</td>
                <td>{{ user.question_count }}</td>
                <td>{{ user.answer_count }}</td>
                <td>{{ user.comment_count }}</td>
                <td></td>
            </tr>
        </table>
</section>

{% endblock %}