{% extends "index.html" %}

{% block content %}
<h1>User list:</h1>
    <section>
        <table>
            <tr>
                <th>Username</th>
                <th>Registration date</th>
                <th>Number of asked questions</th>
                <th>Number of answers</th>
                <th>Number of comments</th>
                <th>Reputation</th>
            </tr>
            {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('user_page', user_id=user.user_id) }}">{{ user.username }}</a></td>
                    <td>{{ user.date }}</td>
                    <td>{{ user.questions }}</td>
                    <td>{{ user.answers }}</td>
                    <td>{{ user.comments }}</td>
                    <td>{{ user.reputation }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}